{% extends "base.html" %}

{% block title %}Відновлення пароля{% endblock %}

{% block dashboard %}
<div class="container">
    <div class="content">
        <div class="header">
            <div class="header-logo">
                <img src="path/to/your/logo.png" alt="Logo">
                <h1>Відновлення пароля</h1>
            </div>
        </div>
        <div class="contact-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new_password">Новий пароль</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Змінити пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}