{% extends "base.html" %}

{% block title %}Лист з інструкціями надіслано{% endblock %}

{% block dashboard %}
<div class="container">
    <div class="content">
        <div class="header">
            <div class="header-logo">
                <img src="path/to/your/logo.png" alt="Logo">
                <h1>Лист з інструкціями надіслано!</h1>
            </div>
        </div>
        <div class="success-message">
            <p>Перевірте вашу поштову скриньку та дотримуйтесь інструкцій для відновлення пароля.</p>
            <a href="{% url 'users:login-page' %}" class="btn btn-primary">Повернутись до входу</a>
        </div>
    </div>
</div>
{% endblock %}