{% extends "base.html" %}

{% block dashboard %}
<div class="container">
    <div class="content">
        <div class="header">
            <div class="header-logo">
                <img src="path/to/your/logo.png" alt="Logo">
                <h1>Пароль успішно змінено!</h1>
            </div>
        </div>
        <div class="success-message">
            <p>Ваш пароль був успішно оновлений. Тепер ви можете увійти до свого облікового запису.</p>
            <a href="{% url 'users:login-page' %}" class="btn btn-primary">Перейти до авторизації</a>
        </div>
    </div>
</div>
{% endblock %}