{% extends "base.html" %}

{% block title %}{% if object %}Редагувати{% else %}Додати{% endif %} тег{% endblock %}

{% block dashboard %}
<div class="container">
    <div class="content">
        <div class="header">
            <div class="header-logo">
                <img src="path/to/your/logo.png" alt="Logo">
                <h1>{% if object %}Редагувати{% else %}Додати{% endif %} тег</h1>
            </div>
        </div>
        <div class="contact-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Зберегти</button>
                    <a href="{% url 'notes:tag-list' %}" class="btn btn-secondary">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}