{% extends 'base.html' %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'contacts/styles.css' %}">
</head>

{% block title %}Contacts List{% endblock %}

{% block dashboard %}
<div class="card">

    <h2 class="contacts-title">Контакти</h2>

    <!-- Add Contact Button -->
    <a href="{% url 'contacts:contact-create' %}" class="add-contact-btn">Додати контакт</a>

    <!-- Contacts List -->
    <ul class="contact-list">
        {% for contact in contacts %}
            <li class="contact-item">
                <a href="{% url 'contacts:contact-detail' contact.pk %}">
                    {{ contact.first_name }} {{ contact.last_name }}
                    
                </a>
                <a class="phone-item" href="{% url 'contacts:contact-detail' contact.pk %}">
                    {% if contact.birthday %}
                        ({{ contact.phone }})
                    {% endif %}
                </a>
                <p>
                    {% if contact.birthday %}
                        ({{ contact.birthday }})
                    {% endif %}
                </p>
            </li>
            
        {% empty %}
            <li class="contact-item">Немає контактів.</li>
        {% endfor %}
    </ul>

    <!-- Display Filter Message -->
    {% if request.GET.days_ahead %}
        <div class="filter-message">
            Показано контакти з днями народження через {{ request.GET.days_ahead }} днів.
        </div>
    {% endif %}
</div>
{% endblock %}
